
body {
  background-color: #1e1e1e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel-header {
  margin: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.panel-header a {
  margin: 0 5px;
  text-decoration: none;
  color: #818e8e;
  font-size: 14px;
}
.panel-header p {
  margin: 0;
}
.panel-header select {
  border: none;
  font-size: 14px;

}
.panel-header button {
  margin: 0 5px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  outline: none;
}
.panel-header button:hover {
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
  background-color: rgb(235, 241, 241);
  cursor: pointer;
}
.panel-header select:hover {
  box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
  cursor: pointer;
}